@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900');
body {
  background-color: #FFF9F0;
}

.App {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  position: relative;
}

.header {
  margin-top: 0;
  letter-spacing: .5em;
  font-weight: 700;
  height: 4em;
  background-color: orangered;
}

.loading{
  background-image: url('./loading.gif');
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: center 0;
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 600px;
}

.card-wrap {
  width: 700px;
  margin: auto;
}